<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/body.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/about.css">
</head>
<body>
    <header class="default">
            <div class="logo">
              <img src="../static/images/logo_1.jpg" alt="" />
            </div>
            <div class="actions">
              <a href="/">HOME</a>
            </div>

            <div class="accounts">
              <button onclick="start()">Sign In</button>
            </div>
    </header>
    <h1>Hello</h1>

    <section class="about">
        <img id="me" src="../static/images/red.jpg" onclick="changeImg()" alt="">
    </section>

    <article>
        <a href="https://github.com/jack-njenga" target="_blank">Github</a>
        <a href="https://twitter.com/jacknje"
        target="_blank">Twitter</a>
        <a href="https://www.jacknjenga.tech/" target="_blank" style="color: red;">Me</a>
        <a href="https://medium.com/@jacknjenga99" target="_blank">Medium</a>
        <a href="https://www.kaggle.com/jacknjenga" target="_blank">Kaggle</a>
    </article>

    <script src="../static/scripts/about.js"></script>
    <script src="../static/scripts/start.js"></script>
</body>
</html>