<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>savvy items</title>

    <link rel="icon" href="../static/images/banner.png">
    <link rel="stylesheet" type="text/css" href="../static/styles/body.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/display.css">
    <link rel="stylesheet" href="../static/styles/display_items.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header class="default">
        <div class="logo">
          <img src="../static/images/logo_1.jpg" id="not-ready"/>
        </div>
        <div class="actions">
          <a href="http://164.90.136.53:5000">HOME</a>
        </div>

        <div class="accounts">
          <button onclick="start()" id="red-signin">Sign In</button>
        </div>
        <div class="logged-in">
          <img src="../static/images/other.png">
          <b id="user-name"></b>
        </div>
      </header>

      <div class="body">

        <div class="search">
          <section class="search">
              <form action="">
                <input id="item-input" type="text" placeholder="Add new item to track">
                <button id="add-item" type="submit">Add</button>
		<!-- <button id="delete-item" type="submit">Del</button> -->
                <select name="" id="item-select">
                  {% for item in available_items %}
                    <option value={{ item }}>{{ item }}</option>
                  {% endfor %}
                </select>
                <!-- <input type="text" placeholder="Search"> -->
                <button type="submit" id="search-item">Search</button>

                <button type="submit" id="reset-item">Reset</button>
              </form>
          </section>
        </div>

        <div class="items">
          <div class="filter"><h2>Filters</h2>
            <br>
            <div class="price-filter">
              Filter by Category
              <select name="" id="">
                <option value="">electronics</option>
                <option value="">utensils</option>
                <option value="">Phones tables & laptops</option>
              </select>
            </div>
          </div>
          <div class="item">
            {% for item in items %}
              <article class="-item">
                <a href="http://164.90.136.53:5000/display/{{ (item.type).replace(' ', '+') }}">
                  <img src="../static/item_images/{{ (item.type).replace(' ', '+') }}.jpg" alt=" {{ item.type }} Image">
                  <div class="info">
                    <h3>{{ item.type }}</h3>

                    {% macro get_price(price) %}
                      {% set price_str = price | string %}
                      {% set len_p = price_str | length %}
                      {% if len_p > 3 %}
                          {% set new_price = price_str[:-(3)] ~ ',' ~ price_str[-3:] %}
                      {% else %}
                          {% set new_price = price_str %}
                      {% endif %}
                      {{ new_price }}
                    {% endmacro %}

                    <h4>ksh {{ get_price(item.min_price) }} - Ksh {{ get_price(item.max_price) }}</h4>

                    {% macro custom_round(value) %}
                      {{ value | int | round }}
                    {% endmacro %}

                    {% macro get_time(tm1, tm2) %}
                      {% set tm_diff = (tm1 - tm2) %}
                      {% set days = (tm_diff.days) %}
                      {% set hours = custom_round(tm_diff.seconds/3600) %}
                      {% set minutes = custom_round((tm_diff.seconds/60)%60) %}
                      {{ days }} days {{ hours }} hrs {{ minutes }} mins
                    {% endmacro %}

                    <p>
                      {{ get_time(time, item.updated_at) }} Ago
                    </p>
                  </div>
                </a>
              </article>
            {% endfor %}
            <!-- <article class="-item">
              <a href="">
                <img src="../static/images/poisonous_flame.gif" alt="">
                <div class="info">
                  <h3>Poisonous Flame</h3>
                  <h4>Ksh 0 (Free)</h4>
                  <p>0 sec Ago</p>
                </div>
              </a>
            </article> -->

          </div>
        </div>

      </div>


      <script src="../static/scripts/common.js"></script>
      <script src="../static/scripts/display.js"></script>
      <script src="../static/scripts/login.js"></script>
  </body>
</html>

